body {
  background-color: #DFEAF9;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  font-size: 70px;
  color: #45ACC0;
}

.container {
  margin: 15px 200px;
}

.buttons {
  display: inline-block;
}

.button-one {
  display: inline-block;
  position: fixed;
  top: 95%;
  left: 40%;
  margin: -70px 0 0 -170px;
  background-color: #FFA61A;
  border: 2px solid;
  border-radius: 25px;
  border-color: #FFA61A;
  color: #08254C;
}

.button-two {
  display: inline-block;
  position: fixed;
  top: 95%;
  left:70%;
  margin: -70px 0 0 -170px;
  background-color: #FFA61A;
  border: 2px solid;
  border-radius: 25px;
  border-color: #FFA61A;
  color: #08254C;
}

header {
  color: #E68412;
  font-size: 100px;
  margin: 10px 0px 0px 20px;
}

span {
  color: #D1ECA1;
}

.window {
  display: none;
}

.words {
  font-family: 'Indie Flower', cursive;
}
