body {
  background-color: #DFEAF9;
  font-family: 'Muli', sans-serif;
  font-size: 70px;
  color: #45ACC0;
}

.sentence {
  margin: 10px 50px 10px 50px;
}

.window {
  font-size: 20px;
  padding: 10px;
}

.buttons {

}

.button-one {
  margin: 0px 10px 0px 300px;
  width: 150px;
  font-size: 20px;
  display: inline-block;
  background-color: #FFA61A;
  border: 2px solid;
  border-radius: 25px;
  border-color: #FFA61A;
  color: #08254C;
  outline: none;
}

.button-two {
  margin: 0px 300px 0px 10px;
  width: 150px;
  font-size: 20px;
  display: inline-block;
  background-color: #FFA61A;
  border: 2px solid;
  border-radius: 25px;
  border-color: #FFA61A;
  color: #08254C;
  outline: none;
}

header {
  color: #E68412;
  font-size: 100px;
  margin: 15px 250px 0px 250px;
}

span {
  color: #D1ECA1;
}

.word {
  font-family: 'Indie Flower', cursive;
  color: tomato;
}

.defs {
  font-size: 30px;
  font-weight: 400;
  color: #75830B;
  margin: 20px;
}

.li-defs {
  color: #A5B80F;
}

.footer {
  margin: 50px;
}

li {
  list-style: none;
}
